body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding: 40px;
}

.container {
  width: 350px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

#todoList {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  background: #eeeeee;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
